<h2><%= @value_set.concept %></h2>
<dl>
  <dt>Description:</dt>
  <dd><%= @value_set.description %></dd>
  <dt>Code Set:</dt>
  <dd><%= @value_set.oid %>(<%= @value_set.code_set %>)</dd>
  <dt>Category:</dt>
  <dd><%= @value_set.category%></dd>
</dl>
<dl id="codes">
  <dt>Codes</dt>
  <% @value_set.codes.each do |code|%>
    <dd><%= code%></dd>
  <% end %>
</dd>
<%= button_to "edit", edit_value_set_path(@value_set), method: :get%>
<%= button_to "delete", value_set_path(@value_set), method: :delete%>