<div id="createNewMeasureDialog" class="modal hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Create New Measure</h3>
  </div>
  <%= simple_form_for(@measure, :html => {:method => submit_method, :multipart => true, :class => 'form-stacked'}) do |f| %>
    <div class="modal-body">
      <% if @editing %>
        <%= f.label :measure_id_label, "ID: " %>
        <%= f.text_field :measure_id %>
        <%= f.label :endorser_label, "Endorser: " %>
        <%= f.text_field :endorser %>
        <% ["title", "description", "category", "steward"].each do |field| %>
          <%= f.label "#{field}_label", "#{field.capitalize}: " %>
          <%= f.text_field "#{field}" %>
        <% end %>
      <% end %>
      <%= f.label :value_sets_label, "Data Value Set:" %>
      <%= f.file_field :value_sets %>

      <%= f.label :hqmf_label, "HQMF File:" %>
      <%= f.file_field :hqmf %>

      <%= f.label :html_label, "HTML File:" %>
      <%= f.file_field :html %>
    </div>
    <div class="modal-footer">
      <%= f.submit submit_text, class:'btn btn-primary' %>
      <a href="#" data-dismiss="modal" class="btn secondary">Cancel</a>
    </div>
  <% end %>
</div>
