<%= simple_form_for(@measure, :html => {:method => submit_method, :multipart => true, :class => 'form-stacked'}) do |f| %>
  <% if @editing %>
    <label><%= f.label :measure_id_label, "ID: " %></label>
    <%= f.text_field :measure_id %>
    <label><%= f.label :endorser_label, "Endorser: " %></label>
    <%= f.text_field :endorser %>
    <% ["title", "description", "category", "steward"].each do |field| %>
      <label><%= f.label "#{field}_label", "#{field.capitalize}: " %></label>
      <%= f.text_field "#{field}" %>
    <% end %>
  <% end %>
  <label><%= f.label :value_sets_label, "Value Sets:" %></label>
  <%= f.file_field :value_sets %>
  <label><%= f.label :hqmf_label, "HQMF File:" %></label>
  <%= f.file_field :hqmf %>
  <br/><%= f.submit submit_text, class:"btn" %>
<% end %>