  <tr>
    <td><%= measure.endorser %></td>
    <td><%= link_to measure.title, measure %></td>
    <td><%= measure.version %></td>
    <td><%= measure.published ? "published" : "draft" %></td>
    <td><%= measure.publish_date %></td>
  </tr>