  <tr>
    <td><%= measure.measure_id %></td>
    <td><%= link_to measure.title, measure %></td>
    <td><%= measure.version %></td>
    <td><%= measure.published ? "published" : "draft" %></td>
    <td><%= measure.publish_date %></td>
    <td>
      <!-- temporarily disable the publish button here -->
      <%# button_to 'Publish', publish_measure_path(measure) %>
      <%= link_to 'Edit', edit_measure_path(measure) %> | <%= link_to 'NQF', show_nqf_measure_path(measure), :target => "_blank" %>
      <!-- for now, hide the delete link for this measure -->
      <%# link_to 'Destroy', measure, confirm: 'Are you sure?', method: :delete %>
    </td>
  </tr>