<% content_for :head do %>
  <script type="text/javascript">
    $(document).ready(function() {
      debug_js_load();
    });
  </script>
<% end %>

<% content_for :page_content do %>

  <!-- TODO: break out into a content_for block? or .js? -->
  <% @js = include_js_debug(@measure.measure_id, [@patient._id]) %>
  <%# @js = include_js_debug(@measure.measure_id, [Record.first._id]) %>
  <%= javascript_tag do %>
    <%= raw(@js) %>
    <%= raw(include_js_libs(['map_reduce_utils'])) %>
  <% end %>

  <div style="margin:1em;">
    <h1>Measure Debug</h1>
    <em><%= @measure.title %></em><br>
    <%= link_to 'Run Numerator', 'run_numerator', :id => 'run_numerator_link' %> | 
    <%= link_to 'Run Denominator', 'run_denominator', :id => 'run_denominator_link' %> |
  
    <%= link_to 'Toggle Code', '#toggle_code', :id => 'toggle_code_link' -%>

    <% html = CodeRay.scan(@js, :javascript).div(:wrap => :div, :line_numbers => :inline) %>
    <%= raw(html) %>
    <textarea id='log' style="width:95%; height:85em;">
    </textarea>
  </div>
  
  
<% end %>
