<% content_for :left_column do %>
<script type="text/javascript">
  <%= raw(include_js_libs(['map_reduce_utils'])) %>
</script>

<div class="pull-left" style="margin-left:2em;">
  <h1>Measure Debug</h1>
  <em><%= @measure.title %></em><br>
  <%= link_to 'Run Numerator', 'run_numerator', :id => 'run_numerator_link' %> | 
  <%= link_to 'Run Denominator', 'run_denominator', :id => 'run_denominator_link' %>
  
  <pre>
  click Run Numer
  set Logger.logger
  var patient_api = new hQuery.Patient(patient);
  hqmfjs.NUMER(patient_api)
  </pre>
  
  <%= link_to 'Toggle Code', '#toggle_code', :id => 'toggle_code_link' -%>
  <% @js = include_js_debug(@measure.measure_id) %>
  <% html = CodeRay.scan(@js, :javascript).div(:wrap => :div, :line_numbers => :inline) %>
  <%= raw(html) %>
  
</div>
<% end %>


<% content_for :right_column do %>
<div class="pull-right" style="margin-right:2em;">

  <!-- TODO: break out into a content_for block? or .js? -->
  <script type="text/javascript">
    <%= raw(@js) %>
    
    // onload
    $(document).ready(function() {
      code = $('.CodeRay');
      code.hide();
      execute_measure(patient);
      emitted[0].logger.forEach(function(e){
        $('#log').append(e);
        $('#log').append('\n');
      });
      
      $('#run_numerator_link').click(function(event){
        event.preventDefault();  // don't follow link, TODO: UJS route and fallback
        if (typeof Logger != 'undefined') Logger.logger = [];
        $('#log').empty();
        var patient_api = new hQuery.Patient(patient);
        hqmfjs.NUMER(patient_api)
        Logger.logger.forEach(function(e) {
          $('#log').append(e);
          $('#log').append('\n');
        });
        console.log(Logger.logger);
      });

      $('#run_denominator_link').click(function(event){
        event.preventDefault();  // don't follow link, TODO: UJS route and fallback
      });
      
      $('#toggle_code_link').click(function(event){
        var code = $('.CodeRay');
        if (code.is(":visible") === true) {
          code.hide();
        } else {
          code.show();
        }
        
        event.preventDefault();
      });
      
      // execute_measure(patient)
      // append emitted to 
    });
  
  </script>
  
  <textarea id='log' style="width:35em; height:95em;">
  </textarea>
</div>
<% end %>