<% content_for :head do %>
  <script type="text/javascript" src="/assets/jquery.metadata.js"></script>
  <script type="text/javascript" src="/assets/jquery.tablesorter.min.js"></script>
  <script type="text/javascript">
    $(document).ready(
      function(){
        $('.table-measure-detail').tablesorter();
      }
    )
  </script>
<% end %>

<% content_for :page_content do %>

  <%= render partial: 'dialog', locals: { submit_method: 'post', submit_text: 'Create' } %>

  <!-- start tab nav -->
  <div id="tabs">
  	<ul class="nav nav-tabs">
  		<li <% unless @show_published %>class="active"<% end %>><a href="#tabs-0" data-toggle="tab">my measures</a></li>
  		<li <% if @show_published %>class="active"<% end %>><a href="#tabs-1" data-toggle="tab">all published measures</a></li>
      <li id="pageButtons">
        <a href="#createNewMeasureDialog" class="btn" data-toggle="modal" data-backdrop="static" data-keyboard="true">Create New</a>
        <%= link_to 'Export All', export_all_measures_path, method: "get", class:"btn" %>
        <%= link_to 'View Matrix', {:action => 'matrix'}, class:"btn" %>
      </li>
  	</ul>

    <!-- start my measures content -->
    <div class="tab-content">
  	<div id="tabs-0" class="tab-pane<% unless @show_published %> active<% end %>">
  	  <table class="table table-measure-detail">
  	    <thead>
    	    <tr>
            <th>NQF</th>
            <th>title</th>
            <th>version</th>
            <th>status</th>
            <th>date</th>
            <th style="width:6em"><!-- actions --></th>
          </tr>
        </thead>
        <tbody>
          <%= render :partial => 'measure', :collection => current_user.measures.sort! { |a,b| (a['measure_id'] || '') <=> (b['measure_id'] || '') } %>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td colspan="5">Total measures: <%= current_user.measures.length %></td>
          </tr>
        </tfoot>
      </table>
  	</div><!-- end my measures content -->

  	<!-- start published measures content -->
  	<div id="tabs-1" class="tab-pane<% if @show_published %> active<% end %>">
  	  <table class="table table-measure-detail published-measures">
  	    <thead>
          <tr>
            <th>NQF</th>
            <th>title</th>
            <th>version</th>
            <th>publisher</th>
            <th>date</th>
            <th><!-- actions --></th>
          </tr>
        </thead>
        <tbody>
          <%= render :partial => 'measure', :collection => @all_published %>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td colspan="5">Total measures: <%= @all_published.length %></td>
          </tr>
        </tfoot>
    	</table>
  	</div><!-- end published measures content -->
	</div>
  </div><!-- end #tabs -->



	<br />

<% end -%>

