<% content_for :head do %>
  <script type="text/javascript">
    var bonnie = bonnie || {};
    bonnie.renderMeasureJSON = function(data) {
        var measure = data;
        var elemParent;
        var addParamItems = function(obj,elemParent,container) {
          var items = obj['and'] || obj['or'];
          if ($.isArray(items)) {
            var conjunction = obj['and'] ? 'and' : 'or';
            // add the grouping container
            if (!container) {elemParent = $("#ph_tmpl_paramGroup").tmpl({}).appendTo(elemParent).find(".paramItem:last");}
              $.each(items,function(i,node) {
                addParamItems(node,elemParent);
                if (i < items.length-1) {
                  $(elemParent).append("<span class='"+conjunction+"'>"+conjunction+"</span>");
                }
              });
            } else {
              // we dont have a nested measure clause, add the item to the bottom of the list
              if (!elemParent.hasClass("paramItem")) {
                elemParent = $("#ph_tmpl_paramGroup").tmpl({}).appendTo(elemParent).find(".paramItem:last");
              }
              $("#ph_tmpl_paramItem").tmpl(obj).appendTo(elemParent);
            }
        } // end addParamItems

        if (data.population) {
          elemParent = $("#ph_tmpl_paramGroup").tmpl({}).appendTo("#eligibilityMeasureItems").find(".paramItem:last");
          addParamItems(data.population,elemParent,elemParent);
          elemParent.parent().addClass("population");
        }

        if (!$.isEmptyObject(data.denominator)) {
          $("#eligibilityMeasureItems").append("<span class='and'>and</span>");
          addParamItems(data.denominator,$("#eligibilityMeasureItems"));
        }

        if (data.numerator) {
          addParamItems(data.numerator,$("#outcomeMeasureItems"));
        }

        if ('exclusions' in data && !$.isEmptyObject(data['exclusions'])) {
          addParamItems(data.exclusions,$("#exclusionMeasureItems"));
          $("#exclusionMeasureItems").hide();
          $("#exclusionPanel").show();
        }
     }
    
    $(document).ready(function() {
      $.getJSON("<%= definition_measure_url(@measure) %>", bonnie.renderMeasureJSON);
    });
  </script>
  
  <script type="text/html" id="ph_tmpl_paramItem">
    <div class='paramText {{if category}}${category}{{/if}}'>
      <!-- ${percentage=Math.round(Math.random()*100,2)} -->
      {{if category}}<label>${category}</label>{{/if}}
      ${title}
    </div>
  </script>
  <script type="text/html" id="ph_tmpl_paramGroupContainer">
    <div class="paramGroupContainer"></div>
  </script>
  <script type="text/html" id="ph_tmpl_paramGroup">
    <div class="paramGroup">
      <div class="paramItem"></div>
    </div>
  </script>
<% end %>

<% content_for :right_column do %>
  <div class="pull-right" id="pageButtons">
    <a href="#" class="btn" >Save</a>
    <a href="#" class="btn">Test</a>
    <a href="#" class="btn">Publish</a>
    <%# link_to 'Publish', publish_measure_path(@measure), class:"btn" %>
  </div>
  
  <p id="notice"><%= notice %></p>
	

<h1 class="measure-title"><%= "#{@measure.endorser}#{@measure.measure_id}: #{@measure.title}" %></h1>
<div id="measureDetailInformation" style="margin-left:15px;">
    <dl>
      <dt>Reporting Period:</dt>
      <dd>
        <span id="measurementPeriod"><% @measure.measure_period %></span>
      </dd>
    </dl>
    <dl>
      <dt>Description:</dt>
       <dd>
         <span id="measureDescText"><%= @measure.description %></span>
       </dd>
    </dl>
    <% if @measure.published %>
      <dl>
  		  <dt>Version</dt>
    		<dd><%= "#{@measure.version} as of #{@measure.publish_date}" %></dd>
  	  </dl>
    <% end %>
  <%= link_to 'Export', export_measure_path(@measure) %> |
  <%= link_to 'Publish', publish_measure_path(@measure) %> |
	<%= link_to 'Edit', edit_measure_path(@measure) %> |
	<%= link_to 'NQF Definition', show_nqf_measure_path(@measure), :target => "_blank" %> |
	<%= link_to 'Back', measures_path %>

</div>




<!-- start tab nav -->
<div id="tabs" class="measureDetailTable">
  <ul class="nav nav-tabs">
    <li class="initial-population"><a href="#initialPopulation" data-toggle="tab">initial pop.</a></li>
    <li class="active denominator"><a href="#eligibilityMeasures" data-toggle="tab">denominator</a></li>
    <li class="numerator"><a href="#outcomeMeasures" data-toggle="tab">numerator</a></li>
  </ul>

  <div class="tab-content" id="measureEditContainer">
    <div id="workspace" style="padding:10px;border-radius:12px;margin:10px;border:1px solid #aaa;background-color:#f5f5f5;float:right;width:340px;height:100%">
      <p>Workspace edit controls go here</p>
    </div>
    
    <div id="initialPopulation" class="tab-pane">
      <div class="measureBox">
        <div id="initialPopulationItems"></div>
      </div>
    </div>
    
    <div id="eligibilityMeasures" class="tab-pane active">
      <div class="measureBox">
        <div id="eligibilityMeasureItems"></div>
      </div>
    </div>
    
    <div id="outcomeMeasures" class="tab-pane">
      <div class="measureBox">
        <div id="outcomeMeasureItems"></div>
      </div>
    </div>
  </div>

</div><!-- end #tabs -->

<% end -%>