<% content_for :head do %>
  <script type="text/javascript">
    var bonnie = bonnie || {};
    
    var page = new Page(<%= @measure.data_criteria.to_json.html_safe %>, <%= @measure.measure_period.to_json.html_safe %>)
    $(document).ready(function() {
      page.initialize();
      $.getJSON("<%= definition_measure_url(@measure) %>", bonnie.builder.renderMeasureJSON);
    });
    
  </script>

  <script type="text/html" id="bonnie_tmpl_param_group">
    <div class='paramGroup'>
      <div class='paramItem'></div>
    </div>
  </script>

  <script type="text/html" id="bonnie_tmpl_data_criteria_logic">
    <div class='paramText {{if category}}${category}{{/if}} logicLeaf' {{if id}}id='${id}'{{/if}}>
      {{if category}}<label>${category}</label>{{/if}}
      ${title} ${temporalText}
    </div>
  </script>
  
  <script type="text/html" id="bonnie_tmpl_data_criteria_edit">
    <div style="position: relative; border-radius:12px;padding:10px; border:1px solid #aaa;background-color:#CCC;">
    <div style="width: 0px; height: 0px;"><!-- This is crap. --><span class="arrow-w" style="position: relative; top: 45px; left: -88px;"></span></div>
      <div>${title}</div>
      <table>
        <tr>
          <td>Status:</td>
          <td>
            <select style="width: 100px;">
              <option value="">--</option>
              <option value="ordered">Ordered</option>
              <option value="ordered">Administered</option>
              <option value="ordered">Active</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Type:</td>
          <td>
            <select style="width: 100px;">
              <option value="">--</option>
              <option value="ordered">encounter outpatient</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Temporal:</td>
          <td>
            <select style="width: 100px;">
              <option value="">--</option>
              <option value="ordered">Starts Before Start</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Value:</td>
          <td>
            <select style="width: 100px;">
              <option value="">--</option>
              <option value="ordered">Equal to</option>
              <option value="ordered">Greater than</option>
              <option value="ordered">Less Than</option>
            </select>
          </td>
          <td>
            <input type="text" style="width: 100px;" value=""/>
          </td>
        </tr>
      </table>
    </div>
  </script>
  
  
<% end %>

<% content_for :right_column do %>
  <div class="pull-right" id="pageButtons">
    <a href="#" class="btn" >Save</a>
    <%= link_to 'Test', debug_measure_url(@measure), :class => 'btn' %>
    <%= link_to 'Publish', publish_measure_path(@measure), :method => :post, :class => 'btn' %>
    
    <%# link_to 'Publish', publish_measure_path(@measure), class:"btn" %>
  </div>
  
  <p id="notice"><%= notice %></p>
	

<h1 class="measure-title"><%= "#{@measure.endorser}#{@measure.measure_id}: #{@measure.title}" %></h1>
<div id="measureDetailInformation" style="margin-left:15px;">
    <dl>
      <dt>Reporting Period:</dt>
      <dd>
        <span id="measurementPeriod"><% @measure.measure_period %></span>
      </dd>
    </dl>
    <dl>
      <dt>Description:</dt>
       <dd>
         <span id="measureDescText"><%= @measure.description %></span>
       </dd>
    </dl>
    <% if @measure.published %>
      <dl>
  		  <dt>Version</dt>
    		<dd><%= "#{@measure.version} as of #{@measure.publish_date}" %></dd>
  	  </dl>
    <% end %>
  <%= link_to 'Export', export_measure_path(@measure) %> |
	<%= link_to 'Edit', edit_measure_path(@measure) %> |
	<%= link_to 'NQF Definition', show_nqf_measure_path(@measure), :target => "_blank" %> |
	<%= link_to 'Back', measures_path %>

</div>

<!-- start tab nav -->
<div id="tabs" class="measureDetailTable">
  <ul class="nav nav-tabs">
    <li class="initial-population"><a href="#initialPopulation" data-toggle="tab">initial pop.</a></li>
    <li class="active denominator"><a href="#eligibilityMeasures" data-toggle="tab">denominator</a></li>
    <li class="numerator"><a href="#outcomeMeasures" data-toggle="tab">numerator</a></li>
  </ul>

  <div class="tab-content" id="measureEditContainer">
    <div id="workspace" style="padding:10px;border-radius:12px;margin:10px;border:1px solid #aaa;background-color:#f5f5f5;float:right;width:340px;height:1000px">
      <p>Workspace edit controls go here</p>
    </div>
    
    <div id="dataCriteria" style="padding:10px;margin:10px 10px 10px 0;border:1px solid #aaa;background-color:#f5f5f5;float:left;width:340px;height:100%">
      <%= render partial: 'data_criteria', locals: {criteria_by_category: data_criteria_by_category(@measure.unique_data_criteria)}%>
    </div>
    
    <div id="initialPopulation" class="tab-pane">
      <div class="measureBox">
        <div id="initialPopulationItems"></div>
      </div>
    </div>
    
    <div id="eligibilityMeasures" class="tab-pane active">
      <div class="measureBox">
        <div id="eligibilityMeasureItems"></div>
      </div>
    </div>
    
    <div id="outcomeMeasures" class="tab-pane">
      <div class="measureBox">
        <div id="outcomeMeasureItems"></div>
      </div>
    </div>
  </div>

</div><!-- end #tabs -->

<% end -%>