<% content_for :head do %>
  <style>

.dropped {
    -webkit-animation: highlight-dropped 3.5s 1;
    -webkit-animation-easing-function: ease-out;
    -moz-animation: highlight-dropped 4s 1;
    -moz-animation-easing-function: ease-out;
}

@-webkit-keyframes highlight-dropped {
    0% {box-shadow:0 0 15px #f60;}
    100% {box-shadow:none }
}
@-moz-keyframes highlight-dropped {
    0% {box-shadow:0 0 15px #f60;}
    100% {box-shadow:none }
}​
</style>
  <script type="text/javascript">
    Function.prototype.curry = function() {
        if (arguments.length<1) return this;
        var __method = this;
        var args = Array.prototype.slice.call(arguments);
        return function() { return __method.apply(this, args.concat(arguments)); }
    }

    var bonnie = bonnie || {};

    var flushDrop = function(e){
      e = e || $('.dragged').parents('.temporal_drop_zone');
      $(e).find('.temporal_reference_value').val('');
      $(e).find('.temporal_drop_label').text('Drop Reference Here');
      $(e).find('.close').hide();
      $(e).removeClass('fullDrop');
      if ($(e).siblings('.temporal_drop_zone').length) $(e).remove();
    }

    var fillDrop = function(obj, id){
      // Populate id from possible sources in order [provided argument, hidden value in form, dragged element]
      id = id || $(obj).find('.temporal_reference_value').val() || $('.dragged').data('criteria-id');

      // Set target based on event object or given drop zone
      obj = (obj.target && ($(obj.target).hasClass('temporal_drop_zone') ? obj.target : $(obj.target).parents('.temporal_drop_zone'))) || obj;

      // Disallow dropping a reference on same reference
      if ($.inArray(id, $(obj).parents('.temporal_reference').find('.fullDrop .temporal_reference_value').map(function(i, e){return $(e).val()})) > -1) return;

      // Ensure element does not create circular structure
      if ($.inArray($(obj).parents('form').find('input[name=criteria_id]').val(), $('[data-criteria-id=' + id + ']').find('[data-criteria-id]').map(
        function(i, e){
          return $(e).data('criteria-id');
        }
      )) + 1) return alert('Cannot reference parent item from child');

      // Expand children criteria of temporal references
      if (bonnie.builder.data_criteria[id] && bonnie.builder.data_criteria[id].type == 'derived' && bonnie.builder.data_criteria[id].children_criteria.length){
        $.each(bonnie.builder.data_criteria[id].children_criteria,
          function(i, e){
            fillDrop($('#bonnie_tmpl_data_criteria_temporal_drop_zone').tmpl().insertBefore(obj), e);
          }
        );
        $(obj).remove();
        return;
      }

      // Populate hidden form field
      $(obj).find('.temporal_reference_value').val(id);

      // Populate drop zone with element (or text if none available)
      var $e
      $(obj).find('.temporal_drop_label').empty().append(
        id ? (
          $(obj).find('.close').show() &&
          $(obj).addClass('fullDrop') &&
          ($e = $('.paramText[data-criteria-id=' + id + ']')).length ? $e.first().clone() : $(document.createElement('div')).attr('draggable', 'true').text(id)
        ).addClass('temporal_drop_zone_element') : 'Drop Reference Here'
      );
    }
    var page = new Page(
      <%= @measure.all_data_criteria.to_json.html_safe %>,
      <%= @measure.measure_period.to_json.html_safe %>,
      '<%= url_for :action => 'update_population_criteria' %>',
      <%= @measure.preconditions.to_json.html_safe %>,
      <%= HQMF::DataCriteria::FIELDS.to_json.html_safe %>,
      <%= @measure.value_sets.map{|s| s.attributes.select{|k,v| ['concept', 'oid', 'description'].include?(k) } }.to_json.html_safe %>,
      <%= raw Hash[HQMF::DataCriteria.statuses_by_definition.map{|v| [v[:category], v[:statuses]]}].to_json %>
    );

    $(document).ready(function() {
      page.initialize();

      // Set location hash to track selected population
      $.getJSON($.bbq.getState('population') || "<%= url_for :action => 'definition' %>", bonnie.builder.renderMeasureJSON);

      // Animate the open/close of the control panel
      $("#measureDetailBorder").click(function() {
        var md = $("#measureDetailInformation");
        md.css('left') == '0px' ?
          md.find('.inner').animate({right: 285}) | md.animate({left: -285}) | $("#tabs").animate({'margin-left': 15}) :
          md.animate({left: 0}) | md.find('.inner').animate({right: 0}) | $("#tabs").animate({"margin-left": 300});
        $("#measureDetailBorder i").toggleClass("icon-backward").toggleClass("icon-forward");
      });

      var measureDetail = $("#measureDetailInformation");
      var matchTitleHeight = function() {
        var h = $("h1.measure-title").height();
        measureDetail.css("padding-top",h+20);
        measureDetail.find("#measureDetailBorder i").css("margin-top",h+30);
      };

      $(window).on("resize",matchTitleHeight);
      matchTitleHeight();
      $(".paramChildren label").not('[data-criteria-id=MeasurePeriod] label').draggable({
        helper: "clone",
        containment: 'document',
        revert: true,
        zIndex: 3000,
        distance: 3,
        opacity: "1",
        start: function(){
          $(this).data("item",new queryStructure.AND(null, [],false))
        },
        stop: function(){
          $('.temporal_reference .temporal_drop_zone:not(.fullDrop)').filter(function(){return $(this).siblings('.temporal_drop_zone').length;}).remove();
          $('.dragged').removeClass('dragged');
        }
      });

      $('#selector').change(
        function(){
          $.bbq.pushState({population: $(this).val()});
          change_test_button_params($(this).val()); // measure debugger needs to know about multiple populations
          $("#initialPopulationItems, #eligibilityMeasureItems, #outcomeMeasureItems, #exclusionMeasureItems, #exceptionMeasureItems").empty();
          $.getJSON($(this).val(), bonnie.builder.renderMeasureJSON);
        }
      )

      $(document.body).on('dragstart', '.logicLeaf, div[data-criteria-id=MeasurePeriod], .temporal_drop_zone_element, #dataCriteria label',
        function(e){
          if (e.originalEvent.dataTransfer) e.originalEvent.dataTransfer.setData('text', 'arbitrary data');
          if (!$(e.target).hasClass('temporal_drop_zone_element')){
            $('#bonnie_tmpl_data_criteria_temporal_drop_zone').tmpl().insertAfter($('.temporal_reference .temporal_drop_zone.fullDrop:last-child')).droppable({ tolerance: 'pointer', greedy: true, accept: 'label.ui-draggable', drop: function(e){ fillDrop(e); } });
          }
          $(e.target).addClass('dragged');
        }
      );
      $(document.body).on('dragover',
        function(e){
          //e.preventDefault();
          if (!$('.dragged').hasClass('temporal_drop_zone_element') ^ !($.inArray(e.target, $('.temporal_drop_zone, .temporal_drop_zone *')) > -1)) e.preventDefault();
        }
      );

      $(document.body).on('drop',
        function(e){
          // Fill the drop zone if element is dropped there
          if ($(e.target).parents('.temporal_drop_zone').length) fillDrop(e);

          // Else if element was dragged off of the drop zone, flush that zone
          else if ($('.dragged').hasClass('temporal_drop_zone_element')) flushDrop();

          // Fixes FF redirect bug
          e.preventDefault();
        }
      );

      $(document.body).on('dragend',
        function(){
          $('.temporal_reference .temporal_drop_zone:not(.fullDrop)').filter(function(){return $(this).siblings('.temporal_drop_zone').length;}).remove();
          $('.dragged').removeClass('dragged');
        }
      );

      $('#workspace').on('click', '.field_value > .close, .subset_operator > .close',
        function(e){
          $(e.target).parent().parent().remove();
        }
      );

      $('#workspace').on('click', '.temporal_reference > .close, .subset_operator > .close',
        function(e){
          $(e.target).parent().parent().remove();
        }
      );

      $('#workspace').on('click', '.temporal_drop_zone .close',
        function(e){
          flushDrop($(e.target).parent());
        }
      );

      $(document.body).on('click', '#workspace > div > .close_edit',
        function(e){
          $(e.target).parent().remove();
          $('.editing').removeClass('editing');
        }
      );

      $('#workspace').on('click', '#temporal_new',
        function(){
          $('#bonnie_tmpl_data_criteria_temporal_reference').tmpl().insertBefore('#temporal_new_position').find('.temporal_drop_zone').droppable({ tolerance: 'pointer', greedy: true, accept: 'label.ui-draggable', drop: function(e){ fillDrop(e); } });;
        }
      );

      $('#workspace').on('click', '#subset_new',
        function(){
          $('#bonnie_tmpl_data_criteria_subset_operator').tmpl().insertBefore('#subset_new_position').find('input.subset_range_type[value=value]').click();
        }
      );

      $('#workspace').on('click', '#field_new',
        function(){
          $('#bonnie_tmpl_data_criteria_field_value').tmpl().insertBefore('#field_new_position');
        }
      );

      $('#workspace').on('change', '.subset_operator .subset_range_type',
        function(){
          $(this).parent().siblings().children('.subset_range_type').attr('checked', null);
          if ($(this).val() == 'value'){
            $(this).parents('.subset_operator').find('.data_criteria_value').show().siblings().hide();
          } else {
            $(this).parents('.subset_operator').find('.data_criteria_range').show().siblings().hide();
          }
        }
      );

      $('#workspace').on('click', '.delete_criteria', bonnie.builder.delete_criteria_handler);

      $(document.body).on('change', '#data_criteria_new select[name=category]',
        function(){
          $('#data_criteria_new select[name=subcategory]').empty().append(bonnie.builder.statuses_by_definition[$(this).val()].map(function(e){return $(document.createElement('option')).val(e).text(e).get(0)}))
        }
      );

      $(document.body).on('change', '#data_criteria_new select[name=negation]',
        function(){
          $('#data_criteria_new .negation_reason_oid').slideToggle();
        }
      );

      $('#workspace').on('change', 'select[name=negation]',
        function(){
          $(this).parents('form').find('.negation_reason_oid').slideToggle();
        }
      );

      $('#text_view').click(
        function(){
          if (!$('#text_view_styles').length) $('head').append('<link id="text_view_styles" rel="stylesheet" type="text/css" href="/assets/bonnie/text_view">');
          else $('#text_view_styles').prop('disabled', $('#text_view_styles').prop('disabled') ? null : 'disabled')

          $("#measureDetailInformation, #measureDetailInformation .inner, #tabs").stop(false, true)
          if ($("#measureDetailInformation").css('left') != ($('#text_view_styles').prop('disabled') ? '0px' : '-285px')) $('#measureDetailBorder').trigger('click');

        }
      );

    });
  </script>

  <script type="text/html" id="bonnie_tmpl_param_group">
    <div class='paramGroup'>
      <div class='paramItem{{if id}} logicLeaf{{/if}}'{{if id}} data-criteria-id="${id}"{{/if}}{{if precondition_id}} data-precondition-id="${precondition_id}"{{/if}}{{if myid}} data-myid="${myid}"{{/if}}>
        {{if id}}
          {{if bonnie.builder.data_criteria[id].display_name}}<div class="display_name">${bonnie.builder.data_criteria[id].display_name}</div>{{/if}}
        {{else precondition_id}}
          {{if bonnie.builder.preconditions[precondition_id]}}<div class="display_name">${bonnie.builder.preconditions[precondition_id]}</div>{{/if}}
        {{/if}}
        {{if conjunction}}<span class='conjunction ${conjunction}'>${conjunction}</span>{{/if}}
      </div>
    </div>
  </script>

  <script type="text/html" id="bonnie_tmpl_data_criteria_logic">
    <div draggable="true" class='paramText {{if category}}${category}{{/if}} logicLeaf' {{if id}}data-criteria-id='${id}'{{/if}}>
      {{if operator}}<label>${operator}</label>{{/if}}
      {{if category}}<label>{{if specific_occurrence}}<span class="occurrence">Occurrence ${specific_occurrence}:</span>{{/if}} ${category}{{if status}}, ${status}{{/if}}</label>{{/if}}
      ${title} {{if value }}{{if type!='characteristic' }}${valueText}{{/if}}{{/if}} ${fieldsText} ${temporalText}
      <div class="negation_text">{{if negation}} <b>not done:</b> {{if negation_code_list_id}}${bonnie.builder.value_sets[negation_code_list_id].concept}: ${bonnie.builder.value_sets[negation_code_list_id].description}{{/if}}{{/if}}</div>
    </div>
  </script>

  <script type="text/html" id="bonnie_tmpl_data_criteria_temporal_drop_zone">
    <div draggable="true" class="temporal_drop_zone paramItem">
      <input class="temporal_reference_value" type="hidden"{{if reference}} value="${reference}"{{/if}} />
      <div class="temporal_drop_label">Drop Reference Here</div>
      <div class="close">&times;</div>
    </div>
  </script>

  <script type="text/html" id="bonnie_tmpl_data_criteria_temporal_reference">
    <tr>
      <td>Temporal:</td>
      <td class="temporal_reference">
        <div style="text-align: right;" class="close">&times;</div>
        <div>
          <select class="temporal_type">
            <option value="">Select a type</option>
            <option value="CONCURRENT">Concurrent with</option>
            <option value="DURING">During</option>
            <option value="EAE">Ends After End of</option>
            <option value="EAS">Ends After Start of</option>
            <option value="EBE">Ends Before End of</option>
            <option value="EBS">Ends Before Start of</option>
            <option value="ECW">Ends Concurrent with</option>
            <option value="EDU">Ends During</option>
            <option value="SAE">Starts After End of</option>
            <option value="SAS">Starts After Start of</option>
            <option value="SBE">Starts Before End of</option>
            <option value="SBS">Starts Before Start of</option>
            <option value="SCW">Starts Concurrent with</option>
            <option value="SDU">Starts During</option>
          </select>
        </div>
        <div>
        <div>Low</div>
          <select class="temporal_range_low_relation" style="width: 60px;">
            <option value="gt">&gt;</option>
            <option value="gte">&gt;=</option>
          </select>
          <input class="temporal_range_low_value" type="text" style="width: 60px;" value="{{if range}}${range.low && range.low.value || ''}{{/if}}"/>
          <select class="temporal_range_low_unit" style="width: 80px;">
            <option value="">unit</option>
            <option value="a">yrs</option>
            <option value="d">days</option>
            <option value="h">hrs</option>
            <option value="min">mins</option>
            <option value="mo">mo.</option>
            <option value="s">secs</option>
            <option value="wk">wks</option>
          </select>
        </div>
        <div>
          <div>High</div>
          <select class="temporal_range_high_relation" style="width: 60px;">
            <option value="lte">&lt;=</option>
            <option value="lt">&lt;</option>
          </select>
          <input class="temporal_range_high_value" type="text" style="width: 60px;" value="{{if range}}${range.high && range.high.value || ''}{{/if}}"/>
          <select class="temporal_range_high_unit" style="width: 80px;">
            <option value="">unit</option>
            <option value="a">yrs</option>
            <option value="d">days</option>
            <option value="h">hrs</option>
            <option value="min">mins</option>
            <option value="mo">mo.</option>
            <option value="s">secs</option>
            <option value="wk">wks</option>
          </select>
        </div>
        {{tmpl '#bonnie_tmpl_data_criteria_temporal_drop_zone'}}
      </td>
    </tr>
  </script>

  <script type="text/html" id="bonnie_tmpl_data_criteria_subset_operator">
    <tr>
      <td>Subset:</td>
      <td class="subset_operator">
        <div style="text-align: right;" class="close">&times;</div>
        <div>
          <select class="subset_type">
            <option value="COUNT">COUNT</option>
            <option value="FIRST">FIRST</option>
            <option value="SECOND">SECOND</option>
            <option value="THIRD">THIRD</option>
            <option value="FOURTH">FOURTH</option>
            <option value="FIFTH">FIFTH</option>
            <option value="RECENT">RECENT</option>
            <option value="LAST">LAST</option>
            <option value="MIN">MIN</option>
            <option value="MAX">MAX</option>
          </select>
        </div>
        <div>
          <label><input type="radio" class="subset_range_type" value="value" />Value</label>
          <label><input type="radio" class="subset_range_type" value="range" />Range</label>
        </div>
        <div class="subset_value">
          {{tmpl(typeof range=='undefined'||typeof range.low=='undefined'?undefined:range.low) '#bonnie_tmpl_data_criteria_value'}}
          {{tmpl(typeof range=='undefined'?undefined:range) '#bonnie_tmpl_data_criteria_range'}}
        </div>
      </td>
    </tr>
  </script>

  <script type="text/html" id="bonnie_tmpl_data_criteria_new">
    <div class="modal hide fade in" id="data_criteria_new">
      <%= form_tag({:action => 'upsert_criteria'}, {:onsubmit => "return !$(this).ajaxSubmit(bonnie.builder.addDataCriteria);"}) do %>
        <div class="modal-header">
          <h3>Create New Data Criterion</h3>
        </div>
        <div class="modal-body">
          <label>Title <input name="title" /></label>
          <label>Category
            <select name="category">
              <% HQMF::DataCriteria.statuses_by_definition.each {|v| %>
                <option value="<%= v[:category] %>"><%= v[:category] %></option>
              <% } %>
            </select>
          </label>
          <label>Status / Subcategory <select name="subcategory"></select></label>
          <label>Value Set OID
            <select name="code_list_id">
              <% @measure.value_sets.map{|s| s.attributes.select{|k,v| ['concept', 'oid'].include?(k) } }.each {|v|%>
                <option value="<%= v['oid'] %>"><%= v['concept'] %> - <%= v['oid'] %></option>
              <% } %>
            </select>
          </label>
          <label>Not Done:
            <select name="negation">
              <option value="">False</option>
              <option value="true">True</option>
            </select>
          </label>
          <div class="negation_reason_oid" style="display: none">
            <label>Negation Reason OID
              <select name="negation_code_list_id">
                <% @measure.value_sets.map{|s| s.attributes.select{|k,v| ['concept', 'oid'].include?(k) } }.each {|v|%>
                  <option value="<%= v['oid'] %>"><%= v['concept'] %> - <%= v['oid'] %></option>
                <% } %>
              </select>
            </label>
          </div>
          <input type="hidden" name="measure" value="<%= params[:id] %>" />
          <input type="hidden" name="source" value="1" />
        </div>
        <div class="modal-footer">
          <button class="close btn" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Create"></a>
        </div>
      <% end %>
    </div>
  </script>

  <script type="text/html" id="bonnie_tmpl_data_criteria_value">
    <div class="data_criteria_value">
      <input class="data_criteria_value_relation" type="hidden" value="eq">
      <input class="data_criteria_value_value" type="text" style="width: 120px;" value="{{if value}}${value}{{/if}}"/>
      <input class="data_criteria_value_unit" style="width: 60px;" value="{{if unit}}${unit}{{/if}}" />
    </div>
  </script>

  <script type="text/html" id="bonnie_tmpl_data_criteria_range">
    <div class="data_criteria_range">
      <div>
        <div>Low</div>
        <select class="data_criteria_range_low_relation" style="width: 60px;">
          <option value="gt">&gt;</option>
          <option value="gte">&gt;=</option>
        </select>
        <input class="data_criteria_range_low_value" type="text" style="width: 60px;" value="{{if low}}${low.value || ''}{{/if}}"/>
        <input class="data_criteria_range_low_unit" style="width: 60px;" value="{{if low}}${low.unit || ''}{{/if}}" />
      </div>
      <div>
        <div>High</div>
        <select class="data_criteria_range_high_relation" style="width: 60px;">
          <option value="lte">&lt;=</option>
          <option value="lt">&lt;</option>
        </select>
        <input class="data_criteria_range_high_value" type="text" style="width: 60px;" value="{{if high}}${high.value || ''}{{/if}}"/>
        <input class="data_criteria_range_high_unit" style="width: 60px;" value="{{if high}}${high.unit || ''}{{/if}}" />
      </div>
    </div>
  </script>

  <script type="text/html" id="bonnie_tmpl_data_criteria_coded">
    <select class="data_criteria_oid">
      <option value="">--</option>
      {{each bonnie.builder.value_sets}}
        <option value="${$index}">${$value.concept}</option>
      {{/each}}
    </select>
  </script>

  <script type="text/html" id="bonnie_tmpl_data_criteria_field_value">
    <tr>
      <td>Field Value:</td>
      <td class="field_value">
        <div style="text-align: right;" class="close">&times;</div>
        <div>
          <select class="field_type">
            <option value="">--</option>
            <% HQMF::DataCriteria::FIELDS.each do |key,value| %>
              <option value="<%= key %>"><%= value[:title]%></option>
            <% end %>
          </select>
        </div>
        <div>
          {{tmpl '#bonnie_tmpl_data_criteria_coded'}}
        </div>
      </td>
    </tr>
  </script>

   <script type="text/html" id="bonnie_tmpl_confirm_criteria_delete">
     <div class="modal hide fade in" id="confirm_criteria_delete">
      <div class="modal-header">
        <h3>Confirm Attribute Deletion</h3>
      </div>
      <div class="modal-body">
        <p style="text-align: center">Are you sure you wish to delete the attribute<br />${criteria_id || 'Precondition ' + precondition_id}?</p>
      </div>
      <div class="modal-footer">
        <button class="close btn" data-dismiss="modal">Close</button>
        <input type="button" id="confirm_criteria_delete_confirm" class="btn btn-primary" value="Confirm Delete"></a>
      </div>
    </div>
   </script>

   <script type="text/html" id="bonnie_tmpl_precondition_edit">
    <div style="position: relative; border-radius:12px;padding:10px; border:1px solid #aaa;background-color:#CCC;">
      <span class="close_edit" style="position:absolute; top: 0; right: 0;">close</span>
      <div style="width: 0px; height: 0px;"><!-- This is crap. --><div class="arrow-w" style="position: relative; top: 45px; left: -86px;"></div></div>
      <%= form_tag({:action => 'name_precondition'}, {:onsubmit => "!$(this).ajaxSubmit({success:bonnie.builder.showSaved.curry(this)}); return false"}) do %>
        <input type="hidden" name="id" value="<%= params[:id] %>" />
        <input type="hidden" name="precondition_id" value="${id}">
        <h4>Precondition ${id}</h4>
        <table>
          <tr>
            <td>Name</td>
            <td><input name="name" value="${bonnie.builder.preconditions[id]}" /></td>
          </tr>
          <tr>
            <td></td>
            <td>
              {{if typeof precondition_id != 'undefined'}}<input type="button" class="delete_criteria" value="Delete">{{/if}}
              <input type="submit" value="save">
              <span class="edit_save_message"></span>
            </td>
          </tr>
          </tr>
        </table>
      <% end %>
    </div>
  </script>

  <script type="text/html" id="bonnie_tmpl_data_criteria_edit">
    <div style="position: relative; border-radius:12px;padding:10px; border:1px solid #aaa;background-color:#CCC;">
      <span class="close_edit" style="position:absolute; top: 0; right: 0;">close</span>
      <div style="width: 0px; height: 0px;"><!-- This is crap. --><div class="arrow-w" style="position: relative; top: 45px; left: -86px;"></div></div>
      <%= form_tag({:action => 'upsert_criteria'}, {:onsubmit => "return bonnie.builder.editDataCriteria_submit(this)"}) do %>
        <input type="hidden" name="id" value="<%= params[:id] %>" />
        <input type="hidden" name="criteria_id" value="${id}" />
        <input type="hidden" name="precondition_id" value="${precondition_id}" />
        <h4>${title}</h4>
        <table>
          <tr>
            <td>Display Name</td>
            <td><input name="display_name" value="${display_name}" /></td>
          </tr>
          <tr>
            <td>Category:</td>
            <td>
              <select name="category">
              <% HQMF::DataCriteria.statuses_by_definition.each {|v| %>
                <option value="<%= v[:category] %>"><%= v[:category] %></option>
              <% } %>
            </select>
            </td>
          </tr>
          <tr>
            <td>Status / Subcategory:</td>
            <td>
              <select name="subcategory"></select>
            </td>
          </tr>
          </div>
          <tr class="criteria_value">
            <td>Value</td>
            <td>
              <div>
                <label><input type="radio" class="value_type" value="PQ" />Value</label>
                <label><input type="radio" class="value_type" value="IVL_PQ" />Range</label>
                <label><input type="radio" class="value_type" value="CD" />Coded</label>
              </div>
              <div class="criteria_value_value">
                {{tmpl(typeof value=='undefined'?undefined:value) '#bonnie_tmpl_data_criteria_value'}}
                {{tmpl(typeof value=='undefined'?undefined:value) '#bonnie_tmpl_data_criteria_range'}}
                {{tmpl '#bonnie_tmpl_data_criteria_coded'}}
              </div>
            </td>
          </tr>
          <tr>
            <td>Not done</td>
            <td>
              <select name="negation">
                <option value="">False</option>
                <option value="true">True</option>
              </select>
            </td>
          </tr>
          <tr class="negation_reason_oid" style="display: none">
            <td>Negation Reason</td>
            <td>
              <select>
                <% @measure.value_sets.map{|s| s.attributes.select{|k,v| ['concept', 'oid'].include?(k) } }.each {|v|%>
                  <option value="<%= v['oid'] %>"><%= v['concept'] %> - <%= v['oid'] %></option>
                <% } %>
              </select>
            </td>
          </tr>
          {{each temporal_references}}
            {{tmpl($value) '#bonnie_tmpl_data_criteria_temporal_reference'}}
          {{/each}}
          <tr id="temporal_new_position">
            <td></td>
            <td><input type="button" id="temporal_new" value="New Temporal Reference" /></td>
          </tr>
          {{each subset_operators}}
            {{tmpl($value) '#bonnie_tmpl_data_criteria_subset_operator'}}
          {{/each}}
          <tr id="subset_new_position">
            <td></td>
            <td><input type="button" id="subset_new" value="New Subset Operator" /></td>
          </tr>
          {{each field_values}}
            {{tmpl($value) '#bonnie_tmpl_data_criteria_field_value'}}
          {{/each}}
          <tr id="field_new_position">
            <td></td>
            <td><input type="button" id="field_new" value="New Field Value" /></td>
          </tr>
          <tr>
            <td></td>
            <td>
              {{if typeof precondition_id != 'undefined'}}<input type="button" class="delete_criteria" value="Delete">{{/if}}
              <input style="float:right; margin-right: 20px;" type="submit" value="save">
              <span class="edit_save_message"></span>
            </td>
          </tr>
          <tr>
            <td></td>
            <td><a onclick="$.post('<%= url_for({:action => 'save_data_criteria'}) %>', {authenticity_token: $('meta[name=csrf-token]').val(), criteria_id: $(this).parents('form').find('input[name=criteria_id]').val()});">Save Data Criteria</a></td>
          </tr>
        </table>
      <% end %>
    </div>
  </script>


<% end %>

<% content_for :page_content do %>

  <div class="pull-right" id="pageButtons">
    <a href="#" class="btn" >Save</a>
    <%= link_to 'Test', test_measure_url(@measure), :class => 'btn' %>
    <a class="btn" data-toggle="modal" data-show="false" href="#publishConfirm">Publish</a>
  </div>
	<h1 class="measure-title"><%= "#{@measure.endorser}#{@measure.measure_id}: #{@measure.title}" %></h1>


  <div id="measureDetailInformation">
    <div id="measureDetailBorder"><i class="icon-backward icon-white"></i></div>
    <div class="inner" style="position:relative; margin:15px 20px 15px 15px;">
      <dl>
        <dt>Reporting Period:</dt>
        <dd>
          <span id="measurementPeriod"><% @measure.measure_period %></span>
        </dd>
      </dl>
      <dl>
        <dt>Description:</dt>
         <dd>
           <span id="measureDescText"><%= @measure.description %></span>
         </dd>
      </dl>
      <% if @measure.published %>
        <dl>
          <dt>Version</dt>
          <dd><%= "#{@measure.version} as of #{@measure.publish_date}" %></dd>
        </dl>
      <% end %>
      <%= link_to 'Export', export_measure_path(@measure) %> |
      <%= link_to 'Edit', edit_measure_path(@measure) %> |
      <%= link_to 'NQF Definition', show_nqf_measure_path(@measure), :target => "_blank" %> |
      <%= link_to 'Back', measures_path %>

      <div><a onclick="bonnie.builder.add_new_criteria()">Add New Data Criterion</a></div>

      <div id="dataCriteria">
        <%= render partial: 'data_criteria', locals: {criteria_by_category: data_criteria_by_category(@measure.source_data_criteria)}%>
      </div>
    </div>
  </div>

  <!-- start tab nav -->
  <div id="tabs" class="measureDetailTable">

    <p id="notice"><%= notice %></p>

    <ul class="nav nav-tabs">
      <li class="initial-population"><a href="#initialPopulation" data-toggle="tab">initial pop.</a></li>
      <li class="active denominator"><a href="#eligibilityMeasures" data-toggle="tab">denominator</a></li>
      <li class="numerator"><a href="#outcomeMeasures" data-toggle="tab">numerator</a></li>
      <li class="exclusions"><a href="#exclusionMeasures" data-toggle="tab">exclusions</a></li>
      <li class="exceptions"><a href="#exceptionMeasures" data-toggle="tab">exceptions</a></li>
      <li id="pr_controls">
        <span id="text_view" class="btn">Toggle Text View</span>
        <select id="selector">
          <% @measure.populations.each_with_index do |population, index| %>
            <option value="<%= url_for :population => index, :action => 'definition' %>"<%= ' selected="selected"' if index == params[:population].to_i%>><%= population['title'] %></option>
          <% end if @measure.populations %>
        </select>
      </li>
    </ul>

    <div class="tab-content" id="measureEditContainer">
      <div id="workspace" style="padding:10px;border-radius:12px;margin:10px;border:1px solid #aaa;background-color:#f5f5f5;float:right;width:340px;min-height:700px">
        <p>Workspace edit controls</p>
      </div>

      <div id="initialPopulation" class="tab-pane">
        <div class="measureBox">
          <div id="initialPopulationItems"></div>
        </div>
      </div>

      <div id="eligibilityMeasures" class="tab-pane active">
        <div class="measureBox">
          <div id="eligibilityMeasureItems"></div>
        </div>
      </div>

      <div id="outcomeMeasures" class="tab-pane">
        <div class="measureBox">
          <div id="outcomeMeasureItems"></div>
        </div>
      </div>

      <div id="exclusionMeasures" class="tab-pane">
        <div class="measureBox">
          <div id="exclusionMeasureItems"></div>
        </div>
      </div>

      <div id="exceptionMeasures" class="tab-pane">
        <div class="measureBox">
          <div id="exceptionMeasureItems"></div>
        </div>
      </div>
    </div>

  </div><!-- end #tabs -->
  <div class="modal hide fade in" id="publishConfirm">
    <div class="modal-header">
      <h3>PUBLISH</h3>
    </div>
    <div class="modal-body">
      <p>Your measure will be published as:</p>
      <table>
        <tbody>
          <tr>
            <td>NQF#</td>
            <td><%= @measure.measure_id %></td>
          </tr>
          <tr>
            <td>Title</td>
            <td><%= @measure.title %></td>
          </tr>
          <tr>
            <td>Version</td>
            <td><%= (@measure.version || 0) + 1 %></td>
          </tr>
          <tr>
            <td>Date</td>
            <td><%= Time.now().strftime('%D') %></td>
          </tr>
          <tr>
            <td>Publisher</td>
            <td><%= current_user.last_name.capitalize + ', ' + current_user.first_name.capitalize %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button class="close btn" data-dismiss="modal">Close</button>
      <%= form_tag(:action => 'publish') do %>
        <input type="submit" class="btn btn-primary" value="Publish"></a>
      <% end %>
    </div>
  </div>
<% end -%>
