<% content_for :head do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#mainTabs a:first').tab('show');
      bind_inspect_highlight();
      $('#select-all').bind('click', select_all_patients);
      $('#deselect-all').bind('click', deselect_all_patients);
    });
  </script>
<% end %>

<% content_for :page_content do %>

  <h3 class="measure-title">
    <span class="label">Testing:</span>
    <span class="title"><%= @measure.title %></span><br>
  </h3>
  
  <% if params[:population_criteria] %>
    <h4 style="margin-left:2em">Population Criteria <%= params[:population_criteria] %></h4><br>
  <% end %>
  
  <ul class="nav nav-tabs" id="mainTabs" style="margin:0.5em">
    <li class="active"><a href="#patients">All Patients</a></li>
  </ul>
  
  <div class="tab-content" style="margin:0.5em">
    
    <a href="" id="select-all">Select All</a> |
    <a href="" id="deselect-all">Deselect All</a>
    
    <div class="tab-pane active" id="patients">
      <%
        if params[:population_criteria]
          test_url = "/measures/#{params[:id]}/test?population_criteria=#{params[:population_criteria]}"
        else
          test_url = test_measure_url
        end
      %>
      
        
      <%= simple_form_for(:patients, :url => test_url, :method => :post, :html => { :class => 'form-horizontal' }) do |f| %>
        <%= f.submit 'Test Measure', :id => 'test-submit-button', :class => 'btn-primary' %><br>
        
        <div class="row total">
          <div class="span2 name">Totals:</div>
          <div id="population-total" class="span2 pop">&nbsp;</div>
          <div id="denominator-total" class="span2 denom">&nbsp;</div>
          <div id="numerator-total" class="span2 num">&nbsp;</div>
          <div id="exclusions-total" class="span2 excl">&nbsp;</div>
          <div id="inspect-links" class="span2 inspect">&nbsp;</div>
        </div>

        <div class="row header">
          <div class="span2 name"><b>Patient Name</b></div>
          <div class="span2 pop"><b>Population</b></div>
          <div class="span2 denom"><b>Denominator</b></div>
          <div class="span2 num"><b>Numerator</b></div>
          <div class="span2 excl"><b>Exclusions</b></div>
          <div class="span2 inspect">&nbsp;</div>
        </div>
        
        <% @patient_names.each do |p| %>
        <div class="row">
          <div class="span2 name">
            <%= f.check_box(p[1], :label => p.first, :checked => true) -%>
            <%= p.first %>
          </div>
          <!-- &nbsp; entity needed to keep the columns from smashing left -->
          <div class="span2 pop">&nbsp;</div>
          <div class="span2 denom">&nbsp;</div>
          <div class="span2 num"> &nbsp;</div>
          <div class="span2 excl">&nbsp;</div>
          <div class="span2 inspect">
            <a href='/measures/<%= "#{@measure._id}/debug/#{p[1]}" %>'>inspect</a>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
  
  <% if @patients_posted %>
    <% @js = include_js_debug(@measure.measure_id, @patients_posted, params[:population_criteria].to_i) %>
    <%= javascript_tag do %>
      <%= raw(@js) %>
      <%= raw(include_js_libs(['map_reduce_utils'])) %>
    <% end %>
    
    <!-- we call coffeescript functions here, minimizing plain js -->
    <%= javascript_tag do %>
      $().ready(function() {
        populate_test_table();
        reselect_patients();
      });
    <% end %>

  <% end %>

<% end %>