<% content_for :head do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#mainTabs a:first').tab('show');
    });
  </script>
<% end %>

<% content_for :page_content do %>

  <h3>Testing Measure</h3>
  <p>
    <em><%= @measure.title %></em>
  </p>

  <br>
  
  <ul class="nav nav-tabs" id="mainTabs">
    <li class="active"><a href="#all-patients">All Patients</a></li>
  </ul>
  
  <div class="tab-content">
    <div class="tab-pane active" id="all-patients">
      <%= simple_form_for(:patients, :url => test_measure_path, :method => :post, :html => { :class => 'form-horizontal' }) do |f| %>
        <%= f.submit 'Test Measure' %><br>
        
        <div class="row total">
          <div class="span2">Totals:</div>
          <div class="span2">0</div>
          <div class="span2">0</div>
          <div class="span2">0</div>
          <div class="span2">0</div>
        </div>

        <div class="row header">
          <div class="span2"><b>Patient Name</b></div>
          <div class="span2"><b>Population</b></div>
          <div class="span2"><b>Denominator</b></div>
          <div class="span2"><b>Numerator</b></div>
          <div class="span2"><b>Exclusions</b></div>
        </div>
        
        <% @patient_names[0...25].each do |p| %>
        <div class="row">
          <div class="span2 name">
            <%= f.check_box(p[1], :label => p.first, :checked => true) -%>
            <%= p.first %>
          </div>
          <!-- &nbsp; entity needed to keep the columns from smashing left -->
          <div class="span2 pop">&nbsp;</div>
          <div class="span2 denom">&nbsp;</div>
          <div class="span2 num"> &nbsp;</div>
          <div class="span2 excl">&nbsp;</div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
  
  <% if params[:patients] %>
    <%# @js = include_js_debug(@measure.measure_id, params[:patients]["patient_names"].reject {|p| p.empty?} ) %>
    <% params[:patients].reject {|p| p[1].empty?} %>
    <% patients_posted = params[:patients].collect {|p| p[0] } %>
    
    <% @js = include_js_debug(@measure.measure_id, patients_posted) %>
    <%= javascript_tag do %>
      <%= raw(@js) %>
      <%= raw(include_js_libs(['map_reduce_utils'])) %>
    <% end %>
    
    <div id="right-pane" class="pull-right" style="margin-right:5%; border: 1px lightgray solid; width: 50%;">
      <h3>Test Summary</h3>
      <div id="log">
        <%= debug params %>
      </div>
      <table id="test-summary">
        <th></th>
      </table>
    </div>
    
    <!-- TODO: coffeescript here instead? -->
    <%= javascript_tag do %>
      $().ready(function() {
        populate_test_table();
      });
    <% end %>

  <% end %>

<% end %>