<% content_for :head do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#mainTabs a:first').tab('show');
      bind_inspect_highlight();
      $('#select-all').bind('click', select_all_patients);
      $('#deselect-all').bind('click', deselect_all_patients);
      $('#population_selector').change(function(event) {
        $('#population').val($(event.target).val())
        $('#measure_form').submit();
      });
    });
  </script>
<% end %>

<% content_for :page_content do %>
  <div class="pull-right" id="pageButtons">
    <%= link_to "Generate Patients", generate_patients_measure_url(@measure), :method => :post, :class => "btn" %>
    <a href="#downloadPatientsDialog" class="btn" data-toggle="modal" data-backdrop="static" data-keyboard="true">Download Patients</a>
  </div>
  
  <%= render partial: 'download_patients' %>
  
  <h3 class="measure-title">
    <span class="label">Testing:</span>
    <span class="title"><%= @measure.title %></span><br>
  </h3>
  
  <% if params[:population_criteria] %>
    <h4 style="margin-left:2em">Population Criteria <%= params[:population_criteria] %></h4><br>
  <% end %>
  
  <ul class="nav nav-tabs" id="mainTabs" style="margin:0.5em">
    <li class="active"><a href="#patients">All Patients</a></li>
    
    <li id="selector" style ="float: right; margin-right: 140px;">
      <select id="population_selector">
        <% @measure.populations.each_with_index do |population, index| %>
          <option value="<%=index%>"<%= ' selected="selected"' if index == params[:population].to_i%>><%= population['title'] %></option>
        <% end if @measure.populations %>
      </select>
    </li>
    
  </ul>
  
  
  
  <div class="tab-content" style="margin:0.5em">
    
    <a href="" id="select-all">Select All</a> |
    <a href="" id="deselect-all">Deselect All</a>
    
    <div class="tab-pane active" id="patients">
        
      <%= simple_form_for(:patients, :url => "/measures/#{params[:id]}/test", :method => :post, :html => { :class => 'form-horizontal', :id => 'measure_form'}) do |f| %>
        <%= f.submit 'Test Measure', :id => 'test-submit-button', :class => 'btn-primary' %><br>
        <input type="hidden" id="population" name="population" value="<%=@population%>"/>
        <div class="row total">
          <div class="span2 name">Totals:</div>
          <div id="population-total" class="span2 pop">&nbsp;</div>
          <div id="denominator-total" class="span2 denom">&nbsp;</div>
          <div id="numerator-total" class="span2 num">&nbsp;</div>
          <div id="exclusions-total" class="span2 excl">&nbsp;</div>
          <div id="inspect-links" class="span2 inspect">&nbsp;</div>
        </div>

        <div class="row header">
          <div class="span2 name"><b>Patient Name</b></div>
          <div class="span2 pop"><b>Population</b></div>
          <div class="span2 denom"><b>Denominator</b></div>
          <div class="span2 num"><b>Numerator</b></div>
          <div class="span2 excl"><b>Exclusions</b></div>
          <div class="span2 inspect">&nbsp;</div>
        </div>
        
        <% @patient_names.each do |p| %>
        <div class="row">
          <div class="span2 name">
            <%= f.check_box(p[1], :label => p.first, :checked => true) -%>
            <%= p.first %>
          </div>
          <!-- &nbsp; entity needed to keep the columns from smashing left -->
          <div class="span2 pop">&nbsp;</div>
          <div class="span2 denom">&nbsp;</div>
          <div class="span2 num"> &nbsp;</div>
          <div class="span2 excl">&nbsp;</div>
          <div class="span2 inspect">
            <a href='/measures/<%= "#{@measure._id}/debug/#{p[1]}?population=#@population" %>'>inspect</a>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
  
  <% if @patients_posted %>
    <% @js = include_js_debug(@measure.id, @patients_posted, params[:population_criteria].to_i) %>
    <%= javascript_tag do %>
      <%= raw(@js) %>
      <%= raw(include_js_libs(['map_reduce_utils'])) %>
    <% end %>
    
    <!-- we call coffeescript functions here, minimizing plain js -->
    <%= javascript_tag do %>
      $().ready(function() {
        populate_test_table();
        reselect_patients();
      });
    <% end %>

  <% end %>

<% end %>