<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="content-script-type" content="text/javascript">
  <link rel="shortcut icon" href="/favicon.ico"/>
  <title>Bonnie: An Open Source Quality Measure Execution Tool</title>

  <% unless request.xhr?%>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%end%>

  <%= csrf_meta_tags %>

  <%= yield :head %>

</head>
<body>

  <div id="container">
    <% unless request.xhr?%>
      <%= render :partial => 'shared/header' %>
    <% end %>
  	<div id="pageContent">
	    <div id="providerReports">
		    <%= yield :left_column %>
  	  </div><!-- end #providerReports --> 
	    <div id="dashboardPeriod">
	      <div>
  		    <%= yield :right_column %>
  	    </div>
	    </div><!-- end #dashboardPeriod -->
  	</div><!-- end #pageContent -->
  </div><!-- end #dashboardContainer -->

</body>
</html>




